@import url(css/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:600&display=swap");

:root {
  --pink: hsl(322, 100%, 66%);
  --paleCyan: hsl(193, 100%, 96%);
  --darkCyan: hsl(192, 100%, 9%);
  --grayishBlue: hsl(208, 11%, 55%);
}
/*=============== Default ===============*/
/* fonts */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--darkCyan);
}
p {
  color: var(--grayishBlue);
}
a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  display: inline-block;
}

.shadow {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
/*=============== HEADER ===============*/
header {
  background: var(--paleCyan) url(/images/bg-hero-mobile.svg) no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  margin-bottom: 3.75rem;
}

.header-logo {
  width: 6.5rem;
}

.btn {
  display: inline-block;
}

nav a.btn {
  font-size: 0.625rem;
  font-weight: bold;
  padding: 0.3rem 1.5rem;
  border-radius: 1rem;
  background-color: white;
}

.header-text h1 {
  font-size: 1.5rem;
  line-height: 36px;
}

.header-content {
  padding: 0 2.25rem;
}

.header-text p {
  margin-top: 1.5rem;
  line-height: 1.44;
}

.header-text a {
  padding: 0.75rem 3.75rem;
  border-radius: 2rem;
  margin-top: 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: white;
  background: var(--pink);
}

.header-img {
  margin-top: 3.5rem;
  padding-bottom: 2.25rem;
}

/*=============== CARDS ===============*/

#cards {
  margin: 1.25rem;
  padding-top: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  padding: 2.5rem;
  padding-top: 0;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2.25rem;
  min-height: 29.5rem;
}

.card-img {
  margin-top: 2.5rem;
  padding: 1rem;
  height: 50%;
  margin-bottom: 1rem;
}

.card h2 {
  font-size: 1.25rem;
  margin-top: 0;
}

.card p {
  font-size: 0.875rem;
  line-height: 1.5;
}

/*=============== CTA ===============*/
.cta {
  background: white;
  padding: 2.5rem 1rem;
  margin: 0.625rem;
  margin-top: 7.5rem;
  border-radius: 1rem;
  position: relative;
}
.cta h2 {
  font-size: 1.125rem;
  margin-top: 0.5rem;
}

.cta a {
  font-size: 0.625rem;
  font-weight: 700;
  color: white;
  background: pink;
  padding: 0.875rem 3.25rem;
  border-radius: 2rem;
  background: var(--pink);
  margin-top: 0.75rem;
}

/*=============== FOOTER ===============*/

footer {
  margin-top: -4.875rem;
  padding: 1rem;
  background: var(--darkCyan);
  text-align: left;
  color: white;
}

footer a {
  color: white;
  font-size: 1.125rem;
  margin-bottom: 1.4rem;
}

.footer-logo {
  margin-top: 7.75rem;
  width: 10.5rem;
}

.footer-content {
  padding-top: 0rem;
}

.contact-content {
  display: flex;
  padding-top: 1.5rem;
}

.contact-content div {
  width: 1.25rem;
  height: 1.25rem;
}
.contact-content img {
  width: 1.125rem;
  height: auto;
}
.contact-content p {
  margin: 0;
  color: white;
  padding-left: 1.25rem;
  font-size: 1rem;
  line-height: 1.485;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
}

.links div {
  display: flex;
  flex-direction: column;
}

.social-icons {
  text-align: center;
  margin-top: 1.8rem;
}
.social-icons a {
  color: white;
  display: inline-block;
  margin: 0.175rem;
  border: 1px solid;
  width: 2rem;
  height: 2rem;
  line-height: 1.875rem;
  border-radius: 50%;
  font-size: 0.875rem;
}

.copyright {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  text-align: center;
  margin-top: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 520px) {
  body {
    padding: 2.5rem;
  }
  /* HEADER */
  header {
    margin: -2.5rem;
    padding: 2.5rem;
  }
  .header-logo {
    width: 10rem;
  }
  nav a.btn {
    font-size: 0.875rem;
    padding: 0.75rem 4.25rem;
    border-radius: 2rem;
  }
  /* CARDS */
  .card h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .card p {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }
  /* CTA  */
  .cta {
    margin: 0.625rem auto;
    padding-top: 3.5rem;
    max-width: 50rem;
  }

  .cta h2 {
    font-size: 2rem;
  }

  .cta a {
    font-size: 1.25rem;
    padding: 1.5rem 6.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  footer {
    margin: -6.5rem -2.5rem;
    padding: 5rem;
  }
}

@media screen and (min-width: 1177px) {
  /* =============== HEADER =============== */
  header {
    background: var(--paleCyan) url(/images/bg-hero-desktop.svg) no-repeat;
    background-size: cover;
    padding: 0;
    padding-bottom: 2rem;
  }

  .header-logo {
    width: 12.5rem;
  }

  nav {
    margin-bottom: -1rem;
    padding: 4.5rem 5em;
  }

  .header-content {
    display: flex;
    text-align: left;
    align-items: center;
    padding: 0.5rem 5rem;
  }

  .header-text {
    padding-right: 4.5rem;
  }

  .header-text h1 {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    margin-top: -2rem;
  }

  .header-text p {
    margin: 0;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }

  .header-text a {
    margin-top: 0;
    padding: 1.25rem 4.5rem;
    font-size: 0.875rem;
  }

  .header-img {
    margin-top: 0;
    flex-basis: 150%;
  }
  /* =============== CARDS =============== */

  #cards {
    margin: 6.5rem;
    text-align: left;
  }

  .card {
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 3rem;
  }

  .card p {
    margin: 0;
  }

  .card-img {
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
  .card-text {
    padding-left: 5rem;
    padding-right: 10rem;
  }
  .card:nth-child(2) {
    flex-direction: row;
  }
  .card:nth-child(2) .card-img {
    padding-left: 4rem;
  }
  .card:nth-child(2) .card-text {
    padding: 0 5rem 0 10rem;
  }

  /* =============== FOOTER =============== */

  footer {
    display: flex;
    flex-direction: column;
    margin-top: -7rem;
    padding: 5rem;
    padding-left: 7.5rem;
  }
  footer a {
    margin-right: 1rem;
  }

  .footer-logo {
    margin-top: 7rem;
    width: 15.5rem;
  }

  .footer-content {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 30% 34% 30%;
    margin-top: 2.5rem;
  }

  .contact-content {
    padding-top: 0;
    margin-bottom: 1.5rem;
  }

  .links {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: center;
  }

  .links div {
    padding-left: 5rem;
  }

  .social-icons {
    margin-top: 0;
    padding-right: 1.75rem;
  }

  .copyright {
    align-self: end;
    font-size: 0.75rem;
    margin-top: 0;
  }
}
